name: run-tests-task
on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:


jobs:
  Run-Tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v3
      - run: unzip ffmpeg-master-latest-win64-gpl.zip
      - run: export ff_mpeg=ffmpeg-master-latest-win64-gpl/bin/ffmpeg
      - run: export ff_probe=ffmpeg-master-latest-win64-gpl/bin/ffprobe
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test -i
          gradle-version: 7.4.2