name: run-tests-task
on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:


jobs:
  Run-Tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@HEAD
      - name: Setup Gradle 7.4
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.4
          arguments: --warning-mode all test